html,
input {
  font-family: 'Merriweather Sans';
}

form {
  display: flex;
}

input:focus-visible {
  outline: none;
}

input {
  appearance: none;
  border: none;
}

input[type='q'] {
  border-bottom: 1px solid black;
}

input[type='image'] {
  height: 1rlh;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.current {
  display: grid;
  width: fit-content;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  border: 1px solid black;
}

.date {
  grid-column: 1 / span 2;
}

.current > div:nth-child(2) {
  grid-row: 2 / span 2;
  font-size: 2.5rem;
}

.condition {
  font-weight: bold;
}

.hourly {
  display: flex;
  border: 1px solid black;
}
